@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #306AD1;
  --font-primary: var(--font-primary);
}

body {
  @apply bg-background text-foreground font-primary;
}
